$mainColor : #b4a078;
$mainBackGroundColor : #f8f8f8;
$welcomeBackGround : #333;
$welcomeColor: #ccc;
$logoColor:#997916;
$logoUnderLine:#b4a078;
$contentBackground:#ffffff;
$borderColor:#dbdbdb;
$evenBackground:#f8f8f8
